/* h1 {
  background-color: blueviolet;
} */

img:hover {
  cursor: pointer;
  /* width: 30px;
  height: 30px; */
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

ol,
ul {
  padding: 0 150px 0 150px;
}
